<ion-header [translucent]="true">
  <ion-toolbar>
    <button class="btn_goback"><ion-icon name="arrow-back"></ion-icon></button>
    <ion-title>Chi tiết sản phẩm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detail1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <div class="img_content_form">
      <ion-img src="../../assets/AnhMinhHoa/BookImage/nhagiakim_doc.jpg"></ion-img>
      <h4>Không gia đình</h4>
      <h5>Hector Malot</h5>
      <ion-toolbar>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </ion-toolbar>
    </div>
  </ion-item>
  <ion-item>
    <div>
      <p>Số lượt mua: <span>1753</span></p>
      <p>Đánh giá: 135 lượt</p>
      <p>Số trang: <span>464</span></p>
    </div>
  </ion-item>
  <ion-toolbar>
    <h5>Noi dung chinh</h5>
    <p>"Nhà giả kim" là một trong những tác phẩm hay nhất, thuộc vào hàng tác phẩm kinh điển của tiểu thuyết gia nổi tiếng người Brazil, Paulo Coelho. Nhà giả kim được mệnh danh là cuốn sách bán chạy chỉ sau kinh thánh, được Nhã Nam trân trọng ấn hành, gửi đến bạn đọc Việt Nam. Cuốn tiểu thuyết Nhà giả kim như một câu chuyện cổ tích giản dị, nhân ái, giàu chất thơ, thấm đẫm những minh triết huyền bí của phương Đông. Nội dung câu chuyện đơn giản, kể về cậu bé chăn cừu vốn mộng mơ về những chuyến phiêu lưu định mệnh, vô tình gặp được một vị thầy bói có năng lực đặc biệt, và sau đó là hành trình từ giấc mơ trở thành đời thực của cậu chàng trong chuyến đi tìm kho báu truyền thuyết.</p>
  </ion-toolbar>
  <ion-item>
    <button class="btn_AddtoCart"><ion-icon name="cart"></ion-icon>Thêm vào giỏ hàng</button>
    <button class="btn_Buy">Mua ngay</button>
  </ion-item>
</ion-content>